<div
  data-controller="homes"
  data-homes-api-key-value="<%= ENV['GOOGLE_MAPS_API_KEY'] %>"
  data-homes-coordinate-value="<%= @coordinate.to_json.html_safe %>"
>
  <div id="map" data-homes-target="map" style="width: 500px; height: 500px;"></div>
  <!-- <div data-homes-counter-value="0" data-homes-target="counter">0</div>
  <button type="button" data-action="click->homes#increment">
    カウント
  </button> -->
</div>
